@charset "UTF-8";
@font-face {
  font-family: titulo;
  src: url(../assets/fonts/love_heist/LoveHeistDemoRegular.ttf);
}
@font-face {
  font-family: basketball;
  src: url(../assets/fonts/Basketball.otf);
}
@font-face {
  font-family: contacto;
  src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}
@font-face {
  font-family: melt;
  src: url(../assets/fonts/melt/melt.ttf);
}
@font-face {
  font-family: marker;
  src: url(../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media (min-width: 320px) {
  main {
    align-items: center;
  }
}
.header {
  background-color: rgba(15, 23, 42, 0.4196078431);
  padding: 20px;
}
.header__container {
  max-width: 1200px;
  min-width: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__container h1 a {
  color: rgb(255, 204, 0);
  font-family: titulo;
  font-size: 50px;
  /* margin-left: 125px; */
  font-weight: 600;
  /* text-shadow: rgba(255, 204, 0, 0.5) 1px 0 3px;     */
  text-decoration: none;
}
.header__container h1 a:hover {
  text-shadow: 1px 0px 3px rgba(255, 204, 0, 0.619);
}
.header__container-navbar {
  display: none;
}
.header__container-navbar li {
  margin: 0 15px;
  border-bottom: 2px solid transparent;
}
.header__container-navbar li a {
  color: #e2e8f0;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  font-family: contacto;
}
.header__container-navbar li a:hover {
  border-bottom: 2px solid #333;
  color: rgb(216, 159, 12);
}
.header__container-navbarmobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 320px) {
  main {
    align-items: center;
  }
  .header__container h1 a {
    font-size: 35px;
    text-decoration: none;
  }
}
@media (min-width: 768px) {
  .header__container {
    width: 100%;
  }
  .header__container h1 a {
    font-size: 50px;
  }
  .header__container-navbar {
    display: flex;
    align-items: center;
  }
  .header__container-navbar li:last-child {
    font-family: melt;
  }
  .header__container-navbar-mobile {
    display: none;
  }
}
/* FOOTER */
.container__footer {
  min-width: 310px;
  width: 100%;
  display: grid;
  grid-template-columns: 1, 1fr;
  background-color: rgba(15, 23, 42, 0.4196078431);
  margin-top: 20px;
  padding: 10px 20px;
}
.container__footer-contacto {
  display: grid;
  align-content: center;
  justify-content: center;
  justify-content: space-around;
  margin: 15px;
  align-items: center;
}
.container__footer-contacto-a {
  display: grid;
  align-items: center;
  padding-top: 10px;
  color: black;
  justify-items: center;
  font-family: contacto;
  text-decoration: none;
}
.container__footer-contacto-img {
  height: 43px;
  width: 43px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .container__footer {
    width: 100%;
    background-color: rgba(15, 23, 42, 0.4196078431);
    margin-top: 20px;
    padding: 10px 20px;
  }
  .container__footer-h1 {
    color: lightgray;
    margin-left: 30px;
    text-shadow: rgb(223, 213, 162) 1px 0 10px;
  }
  .container__footer p {
    color: lightgray;
    margin-left: 30px;
  }
  .container__footer p a {
    text-decoration: none;
  }
  .container__footer-contacto {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
    margin: 15px;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255);
  }
  .container__footer-contacto-a {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: black;
    text-decoration: none;
    font-family: contacto;
    font-size: smaller;
  }
  .container__footer-contacto-a:hover {
    transform: scale(1.1);
    color: black;
  }
  .container__footer-contacto-img {
    height: 43px;
    width: 43px;
    margin-right: 10px;
  }
}
/* Background */
/* Index */
.bg-index {
  /* background-image: url(./assets/img/553032-kevin-durant.jpg); */
  background-image: radial-gradient(circle at right, #7dd1d5 20%, #8e806c 90%);
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

.section-index {
  display: none;
  align-items: center;
  justify-content: space-around;
}

.cajon-index {
  width: 350px;
  margin-left: 35px;
  margin-top: 50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 38px 14px rgba(0, 0, 0, 0.3);
  margin: 35px 20px;
  background-color: rgba(102, 102, 102, 0);
}

.quienes-somos {
  color: white;
  font-size: 18px;
}

/* INDEX mas vendido */
.mas-vendido {
  display: flex;
  margin: 5px;
  columns: 100px;
  width: 550px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 10px 10px 10px;
  box-shadow: 0px 0px 38px 14px rgba(0, 0, 0, 0.543);
  margin: 35px 20px;
  background-color: rgba(102, 102, 102, 0);
  position: relative;
}

/* .h2-mv{
    position: absolute;
    text-align: center;
    margin-left: 35%;
} */
.container-mv__jerseys {
  display: none;
}
.container-mv__jerseys-card {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  transition: transform 0.2s ease-in-out; /* transición suave al hacer hover */
}
.container-mv__jerseys-card:hover {
  transform: scale(1.1); /* agranda la tarjeta al 110% */
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.container-mv__jerseys-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  /* VER SI SE PUEDE PONER SOMBRA A LA FOTO */
}
.container-mv__jerseys-card h3 {
  font-family: basketball;
  font-size: 1.2em;
  margin: 10px 0;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}
.container-mv__jerseys-card p {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}
.container-mv__jerseys-card span {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
  font-family: contacto;
}
.container-mv__jerseys-card button {
  display: block;
  width: 100%;
  background-color: #2c9e23;
  color: #fff;
  border: solid 1px rgb(216, 159, 12);
  border-radius: 5px;
  padding: 10px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.container-mv__jerseys-card button:hover {
  background-color: #57ab5c;
}

/* MEDIA QUERIE */
@media (min-width: 320px) {
  .section-index {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cajon-index {
    width: 80%;
    padding: 0;
    border: none;
    box-shadow: 0px 0px 38px 14px rgba(0, 0, 0, 0.3);
    align-content: center;
  }
  .quienes-somos {
    font-size: small;
  }
  .container__mv {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .container-mv__jerseys {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 200px;
    margin: auto;
  }
  /* .container-mv__card{

  } */
}
@media (min-width: 768px) {
  .section-index {
    display: flex;
    margin-top: 30px;
  }
  .cajon-index {
    max-width: 500px;
    padding: 0;
    border: none;
    box-shadow: 0px 0px 38px 14px rgba(0, 0, 0, 0.3);
  }
  .container-mv__jerseys {
    display: flex;
    margin: 5px;
    columns: 100px;
    align-content: center;
    max-width: fit-content;
  }
  .container__mv {
    display: grid;
    grid-template-columns: 1, 1fr;
  }
  .h2-mv {
    text-align: center;
    text-justify: top;
    color: rgb(216, 159, 12);
    font-family: basketball;
    border-bottom: solid 2px rgba(189, 189, 189, 0.5411764706);
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
/* SHOP */
@media (min-width: 320px) {
  .bg-shop {
    /* background-image: url(./assets/img/court\ basket.jpg); */
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    background-color: #4e8182;
  }
  .h2-shop {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: rgb(216, 159, 12);
    font-family: basketball;
  }
  .section-shop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    justify-items: center;
    /* margin-left: 40px; */
  }
  .card-shop {
    width: 190px;
    border: 2px solid rgb(216, 159, 12);
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
    box-shadow: 0px 0px 18px 15px rgba(21, 21, 21, 0.377);
    margin: 20px;
    transition: transform 0.2s ease-in-out; /* transición suave al hacer hover */
  }
  .card-shop:hover {
    transform: scale(1.1); /* agranda la tarjeta al 110% */
    box-shadow: 2px 2px 20px rgba(216, 158, 12, 0.6);
    background-color: rgba(100, 148, 237, 0.183);
  }
  .card-shop img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card-shop h3 {
    font-size: 1.6em;
    font-weight: 200;
    margin: 10px 0;
    color: whitesmoke;
    text-shadow: #FC0 1px 0 15px;
    text-align: center;
    font-family: basketball;
  }
  .card-shop h4 {
    font-size: 1em;
    color: #404040;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-shop p {
    font-size: 0.9em;
    color: #404040;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-shop span {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    font-family: contacto;
  }
  .card-shop button {
    display: block;
    width: 100%;
    background-color: #2c9e23;
    color: #fff;
    border: solid 1px rgb(216, 159, 12);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .card-shop button:hover {
    background-color: #57ab5c;
  }
}
@media (min-width: 576px) {
  .section-shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
    justify-items: center;
    /* margin-left: 40px; */
  }
}
@media (min-width: 920px) {
  .h2-shop {
    display: block;
    text-align: center;
    text-justify: top;
    color: rgb(216, 159, 12);
    font-family: basketball;
    border-bottom: solid 2px rgba(189, 189, 189, 0.5411764706);
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 40px;
    box-shadow: 0px 22px 18px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 30px 30px 30px 20px;
  }
  .bg-shop {
    /* background-image: url(./assets/img/court\ basket.jpg); */
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    background-color: #4e8182;
  }
  .h2-shop {
    margin-top: 5px;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    color: rgb(216, 159, 12);
    font-family: basketball;
  }
  .section-shop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    margin: 20px;
    /* margin-left: 40px; */
  }
  .card-shop {
    width: 190px;
    border: 2px solid rgb(216, 159, 12);
    border-radius: 5px;
    padding: 10px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3); */
    box-shadow: 0px 0px 18px 15px rgba(21, 21, 21, 0.377);
    margin: 15px;
    margin-bottom: 25px;
    transition: transform 0.2s ease-in-out; /* transición suave al hacer hover */
  }
  .card-shop:hover {
    transform: scale(1.1); /* agranda la tarjeta al 110% */
    box-shadow: 2px 2px 20px rgba(216, 158, 12, 0.6);
    background-color: rgba(100, 148, 237, 0.183);
  }
  .card-shop img {
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card-shop h3 {
    font-size: 1.6em;
    font-weight: 200;
    margin: 10px 0;
    color: whitesmoke;
    text-align: center;
    font-family: basketball;
  }
  .card-shop h4 {
    font-size: 1em;
    color: #404040;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-shop p {
    font-size: 0.9em;
    color: #404040;
    margin-bottom: 10px;
    text-align: center;
  }
  .card-shop span {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    font-family: contacto;
  }
  .card-shop button {
    display: block;
    width: 100%;
    background-color: #2c9e23;
    color: #fff;
    border: 1px solid rgb(216, 159, 12);
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  .card-shop button:hover {
    background-color: #57ab5c;
  }
}
.input-transition {
  margin-top: 30px;
  padding: 10px;
  border: 5px solid yellowgreen;
  outline: none;
  font-size: 20px;
  border-radius: 10px;
  width: 300px;
  transition: width 2s;
}
.input-transition:focus {
  width: 350px;
}

.container-login {
  justify-items: center;
}

.bg-shop {
  /* background-image: url(./assets/img/court\ basket.jpg); */
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  background-color: #4e8182;
}

.titulo-contacto {
  color: grey;
}

.h2-contact {
  padding-top: 15px;
  color: rgb(216, 159, 12);
  font-size: 30px;
}

.contact {
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 200px;
  width: 90%;
}
.contact-div {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: start;
  max-width: 500px;
  border: 1px solid #ddd;
  background-color: rgba(223, 223, 223, 0.8431372549);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-left: 50px;
}
.contact-div a {
  /* display: flex;     */
  text-decoration: none;
  color: black;
  margin-left: 15px;
  text-align: center;
  font-family: contacto;
}
.contact-div a img {
  height: 43px;
  width: 43px;
  padding: 10px;
}

.child-datos {
  display: grid;
  vertical-align: middle;
  padding-right: 20px;
}
.child-datos h6 {
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
}

.email-contact {
  padding-bottom: 20px;
}

.child-sobre-nosotros {
  background-color: rgba(223, 223, 223, 0.8431372549);
}
.child-sobre-nosotros p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.h2-sobre-nosotros {
  color: #333;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  margin: 20px 10px;
  font-family: contacto;
}

.location {
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  color: black;
  background-color: rgba(128, 128, 128, 0.368);
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.h2-ubicacion {
  margin-bottom: 10px;
  color: #333;
  font-size: 30px;
  padding: 20px 20px 20px 20px;
  font-family: contacto;
}

@media (max-width: 768px) {
  .contact {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    align-content: space-between;
    margin-top: 30px;
    margin-bottom: 200px;
    gap: 35px;
  }
  .contact-div {
    max-width: 300px;
  }
  .contact-div iframe {
    width: 250px;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .h2-ubicacion {
    text-align: center;
  }
}
