
/* ------------------------------ */
h2{
    text-align: center;
    margin-top: 30px;
    color: grey;
}


/* MEDIA QUERIE */
@media (min-width: 320px){
    main{
        align-items: center;
    }   
}

