.header{
    background-color: #0f172a6b;
    padding: 20px;

    &__container{
        max-width: 1200px;
        min-width: 310px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & h1 a{
            color: rgb(255, 204, 0);
            font-family: titulo;
            font-size: 50px;
            /* margin-left: 125px; */
            font-weight: 600;
            /* text-shadow: rgba(255, 204, 0, 0.5) 1px 0 3px;     */
            text-decoration: none;
            &:hover{
                text-shadow: 1px 0px 3px rgba(255, 204, 0, 0.619);
                
                // animation: colors 3s infinite alternate;

                // @keyframes colors {
                //     from{
                //         transform: scale(1);
                //         transform: translateX(0);
                //     }
                //     to{
                //         transform: scale(1.1) translate(20px);
                //     }    
                // }
                
            }
        }
        
        &-navbar{
            display: none;

            & li{
                margin: 0 15px;
                border-bottom: 2px solid transparent;
                & a{
                    color: #e2e8f0;
                    font-weight: bold;
                    font-size: 20px;
                    text-decoration: none;
                    font-family: contacto;
                    &:hover{
                        border-bottom: 2px solid #333;
                        color: rgb(216, 159, 12);
                    }
                }
            }
            &mobile{
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }


    }
}


@media (min-width: $bpSmall){
    main{
        align-items: center;
    }

    .header__container h1 a{
        font-size: 35px;
        text-decoration: none;
    }
}


@media (min-width: $bpLarge){
    .header__container{
        width: 100%;
    }

    .header__container h1 a{
        font-size: 50px;
    }

    .header__container-navbar{
        display: flex;
        align-items: center;

        & li:last-child{
            // border: solid #FC0 1px;
            // border-radius: 5px;
            // padding: 10px;
            // margin-left: 0;
            // background-color: #6796a17a;
            font-family: melt;
        }

        &-mobile{
            display: none;
        }
    }
}

