@font-face {
    font-family: titulo;
    src: url(../assets/fonts/love_heist/LoveHeistDemoRegular.ttf);
}

@font-face {
    font-family: basketball;
    src: url(../assets/fonts/Basketball.otf);
}

@font-face {
    font-family: contacto;
    src: url(../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
}

@font-face {
    font-family: melt;
    src: url(../assets/fonts/melt/melt.ttf);
}

@font-face {
    font-family: marker;
    src: url(../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

@media (min-width: $bpSmall){
    main{
        align-items: center;
    }
}

// h2 animacion

// .animation-h2{
//     margin-top: 30px;
//     font-size: 40px;
//     font-weight: bold;

//     animation: colors 2s infinite alternate;
// }


// @keyframes colors {
//     from{
//         transform: scale(1);
//     }
//     to{
//         transform: scale(1.1);
//     }    
// }

